<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <header>
        <nav>
            <span id="logo">InstaClone</span>
            <span>Logout</span>
        </nav>
    </header>
    <main>
        <div class="profile__header">
            <div class="profile__thumbnail"></div>
            <div class="profile__stats">
                <div class="profile__headline">KJones</div>
                <div class="profile__details">
                    <p><span id="user__post" class="bold">2</span> Posts</p>
                    <p><span id="user__follower" class="bold">3</span> Followers</p>
                    <p><span id="user__followed" class="bold">5</span> Following</p>
                </div>
                <div class="profile__description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                </div>
            </div>
        </div>
        <div class="profile__pics">
            <div class="profile__pic" style="background-image: url('../public/images/360_F_551963598_53hrJ2UXDoC00XhkqJ8lKN8Xa2EQg4no.jpg');"></div>

            <div class="profile__pic" style="background-image: url('../public/images/E2EEC013-A4AC-4A1B-9002-E0720F075F5C_1_105_c.jpeg');"></div>

            <div class="profile__pic" style="background-image: url('../public/images/food-aesthetics-sushi-1024x682.jpg');"></div>

            <div class="profile__pic" style="background-image: url(../public/images/tulip-field-royalty-free-image-1620218370_.jpg);"></div>

            <div class="profile__pic" style="background-image: url(../public/images/tumblr_99e9fae5faad3ccfe22c2670f218a643_a02ac961_540.jpg);"></div>

            <div class="profile__pic" style="background-image: url('../public/images/malta-blue-lagoon-21-552x768.jpg');"></div>
        </div>
    </main>
</body>
</html>